<div class="page">

  <h2>🎵 All Songs</h2>

  <div *ngIf="loading">Loading songs...</div>

  <div class="grid">

    <div class="card" *ngFor="let song of songs">

      <div class="info">
        <h3>{{ song.title }}</h3>
        <p>{{ song.artist }}</p>
        <small>{{ song.album }}</small>
        <span>{{ song.duration }}</span>
      </div>
      <button class="add-btn"
              (click)="openModal(song.id)">
        ➕ Add to Playlist
      </button>


      <button class="delete-btn"
              (click)="deleteSong(song.id)">
        Delete
      </button>

    </div>

  </div>

<!-- MODAL -->
  <div class="modal" *ngIf="showModal">

    <div class="modal-content">

      <h3>Select Playlist</h3>

      <div *ngFor="let playlist of playlists"
           class="playlist-option"
           (click)="addToPlaylist(playlist.id)">

        {{ playlist.name }}

      </div>

      <button class="close-btn"
              (click)="closeModal()">
        Cancel
      </button>

    </div>

  </div>


</div>