<div class="sidebar">

  <h2 class="logo">🎵 RevPlay</h2>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">🏠 Home</a>
    <a routerLink="/music" routerLinkActive="active">🔎 Browse</a>
    <a routerLink="/favorites" routerLinkActive="active">❤️ Favorites</a>
    <a routerLink="/playlists" routerLinkActive="active">📁 Playlists</a>
    <a routerLink="/profile" routerLinkActive="active">👤 Profile</a>
    <a routerLink="/history" routerLinkActive="active">🕒 History</a>
  </nav>

</div>