.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: #181818;
  border-top: 1px solid #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
  z-index: 999;
}

/* LEFT */
.player-left {
  width: 250px;
}

.song-details h4 {
  margin: 0;
  font-size: 14px;
}

.song-details p {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}

/* CENTER */
.player-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.controls button:hover {
  color: #1db954;
}

.play-btn {
  font-size: 26px;
}

/* Progress */
.progress-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.progress-container span {
  font-size: 11px;
  color: #aaa;
}

.progress-container input[type=range] {
  flex: 1;
  accent-color: #1db954;
}

/* RIGHT */
.player-right {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-right input[type=range] {
  accent-color: #1db954;
}