body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
  padding-bottom: 100px; /* important for player space */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #1f1f1f;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

button {
  background-color: #1db954;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}