.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.login-card {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 6px;
  border: none;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
